.FirstSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 42%;
 
}

.bg-img {
  width: 100%;
  height: auto;
  display: block;
}

.BackgroundSection {
  position: absolute;
  z-index: -1;
}
/* .FirstSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  border: 1px solid red;
}

.BackgroundSection {
  width: 100%;
  display: block;
}

.bg-img {
  width: 100%;
  height: auto;
  display: block;
} */


/* Optional: add spacing between nav and background image on mobile */
@media (max-width: 768px) {
  .BackgroundSection {
    margin-top: 3rem;
  }
}
