.AllCover {
  height: 80vh;
  /* border: 1px solid red; */
  background-image: url('../../assets/text-big-vector.svg'), url('../../assets/text-small-vector.svg'), url('../../assets/form-vector.svg');
  background-position: bottom left, 30% 70%, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat;

}
.ContactTextWrapper {
  /* width: 90%; */
  margin-left: 10%;

}

@media (max-width: 768px) {
  .AllCover {
    height: auto;
     border: 1px solid #fff;
    background-image: url('../../assets/form-vector.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50px auto;
  }
  .ContactTextWrapper {
    /* width: 90%; */
    margin-left: 0;

  }
}

.ContactText {
  font-family: "Inter", sans-serif;
  color: #172b4d;
  font-weight: 700;
  font-size: 30px;
}

.SubmitForm {
  background-color: #36b37f !important;
  border: 1px solid #36b37f !important;
}